<div class="box row">
    <app-converter class="col-12 col-lg-6" style="padding: 0;"></app-converter>
    <div class="col-12 col-lg-6" style="padding-right: 0; padding-left: 1rem;">
       <div [style]="{'margin-top': '4rem'}">
        <app-arrow  [message]='message[0]'></app-arrow>
       </div>
       <div [style]="{'margin-top': '2.5rem'}">
        <app-arrow [message]='message[1]'></app-arrow>
       </div>
       <div [style]="{'margin-top': '3rem'}">
        <app-arrow [message]='message[2]'></app-arrow>
       </div>
       <div [style]="{'margin-top': '.5rem'}">
        <app-arrow [message]='message[3]'></app-arrow>
       </div>
    </div>
</div>
