<div class="box row">
    <app-converter class="col-12 col-lg-6 p-0"></app-converter>
    <div class="col-12 col-lg-6 pr-0 pl-2">
       <div [style]="{'margin-top': '4rem'}">
        <app-arrow  [message]='message[0]'></app-arrow>
       </div>
       <div [style]="{'margin-top': '2.5rem'}">
        <app-arrow [message]='message[1]'></app-arrow>
       </div>
       <div [style]="{'margin-top': '3rem'}">
        <app-arrow [message]='message[2]'></app-arrow>
       </div>
       <div [style]="{'margin-top': '.5rem'}">
        <app-arrow [message]='message[3]'></app-arrow>
       </div>
    </div>
</div>
