<p-card>
    <div class="d-flex justify-content-end icon">
        <i class="pi pi-bars d-flex"></i>
        <i class="pi pi-cog"></i>
        <i class="pi pi-arrow-up-right"></i>
    </div>

    <h6>Ilość</h6>
    <div class="d-flex flex-row align-items-center">
        <input [(ngModel)]="amount" type="number" mode="decimal" class="amount">
        <i class="pi pi-arrow-right-arrow-left swap" (click)="swapData()"></i>
    </div>

    <hr class="m-0">

    <div *ngIf="load == 'false'" class="d-flex justify-content-center">
        <i class="pi pi-spin pi-spinner spinner-dropdown"></i>
    </div>
    <div *ngIf="load == 'error'" class="d-flex justify-content-center">
        <p class="error">Błąd serwera</p>
    </div>

    <div *ngIf="load == 'true'">
        <p-dropdown 
            [virtualScroll]="true" 
            [virtualScrollItemSize]="40"
            [options]="symbols" 
            [(ngModel)]="selectedFirstCurrency" 
            optionLabel="displayLabel" 
            [filter]="true" 
            filterBy="displayLabel" 
            placeholder="Wybierz walutę"
        >
            <ng-template pTemplate="selectedItem">
                <div class="symbol-item" *ngIf="selectedFirstCurrency">
                    <img [class]="'flag flag-' + selectedFirstCurrency.code" />
                    <div>{{selectedFirstCurrency.code}} / {{selectedFirstCurrency.name}}</div>
                </div>
            </ng-template>
            <ng-template let-symbol pTemplate="item">
                <div class="symbol-item">
                    <img [class]="'flag flag-' + symbol.code" />
                    <div>{{symbol.displayLabel}}</div>
                </div>
            </ng-template>
        </p-dropdown>
        <p-dropdown 
            [virtualScroll]="true" 
            [virtualScrollItemSize]="40"
            [options]="symbols" 
            [(ngModel)]="selectedSecondCurrency" 
            optionLabel="displayLabel" 
            [filter]="true" 
            filterBy="displayLabel" 
            placeholder="Wybierz walutę"
        >
            <ng-template pTemplate="selectedItem">
                <div class="symbol-item" *ngIf="selectedSecondCurrency">
                    <img  [class]="'flag flag-' + selectedSecondCurrency.code" />
                    <div>{{selectedSecondCurrency.code}} / {{selectedSecondCurrency.name}}</div>
                </div>
            </ng-template>
            <ng-template let-symbol pTemplate="item">
                <div class="symbol-item">
                    <img  [class]="'flag flag-' + symbol.code" />
                    <div>{{symbol.displayLabel}}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>
    <button (click)="convert()" class="convertButton">konwertować</button>

    <div *ngIf="!isCalculate; else elseblock" class="d-flex justify-content-center">
        <i class="pi pi-spin pi-spinner spinner-calc"></i>
    </div>
    <ng-template #elseblock>
        <label class="summary">{{resultValue}}</label>
    </ng-template>

</p-card>